

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18%;
}

@media only screen and (max-width: 600px) {
    
    .grid {
    display: flex;
    flex-flow: column;
}

}