* {
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal; 
    font-variant: normal; 
}

body {
    margin: auto;
}

header {
    background-color: #E7EAC2;
    display: flex;
    justify-content: space-around;
    height: 8rem;
    align-items: center;
}

.logo {
    width: 6rem;
    height: 6rem;
}

.menu {
    text-decoration: none;
    color: #c9a434;
    font-weight: 700;
    font-size: 1.5rem;
}

a:hover {
    color: #ebc862;
}

main {
    padding: 4rem 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.productpic {
    width: 40%;
    height: auto;
}

.productdisplayname {
    font-weight: 400;
    font-size: 1.5rem;
}

.productdescription {
    margin: 0.5rem 0.5rem;
    font-weight: 400;
    font-size: 1rem;
}

.buynowbutton {
    text-decoration: none;
    font-weight: 400;
    font-size: 2rem;

    background-color: white;
    border: 3px solid black;
    width: 10rem;
    height: 3rem;
    margin-top: 2rem;
}

